<table style="background:#ffffff;width:80%;" border="1">
  <thead>
    <tr>
      <td>ID</td>
      <td>Mobile_no</td>
      <td>Friend_mobile_no</td>
      <td>visited_time</td>
      <td>visited_flag</td>
    </tr>
  </thead>
  <% @visits.each do |v| %>
    <tr>
      <td><%= v.id %></td>
      <td><%= v.mobile_no %></td>
      <td><%= v.friend_mobile_no %></td>
      <td><%= v.visited_time %></td>
      <td><%= v.visited_flag %></td>
    </tr>
  <% end %>
</table>

<div style="background:#ffffff;">
  <%= will_paginate @visits %>
</div>